<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="dialect"> org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.url">jdbc:mysql://localhost/hibernate</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<mapping resource="hibernate_example/hb_web_application/user.hbm.xml"/>
		<mapping class="hibernate_with_eclipse.hb_with_annotation.Student"/>  
		<mapping resource="hibernate_with_eclipse/hb_with_xml/employee.hbm.xml"/>
		<mapping resource="inheritance_mapping/table_per_hierarchy/employee1.hbm.xml"/>  
	</session-factory>
	
</hibernate-configuration>  