<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/hibernate</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection_pool_size">1</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>

		<!-- inheritance_mapping.table_per_hierarchy -->
		<mapping resource="inheritance_mapping/table_per_hierarchy/employee1.hbm.xml" />
		
		<!-- inheritance_mapping.tph_using_annotation -->
		<mapping class="inheritance_mapping.tph_using_annotation.Employee2"/>  
        <mapping class="inheritance_mapping.tph_using_annotation.Regular_Employee2"/>  
        <mapping class="inheritance_mapping.tph_using_annotation.Contract_Employee2"/>
        
        <!-- inheritance_mapping.table_per_con_concrete -->
		<mapping resource="inheritance_mapping/table_per_con_concrete/employee3.hbm.xml" />
		
		<!-- inheritance_mapping.tpc_using_annotation -->
		<mapping class="inheritance_mapping.tpc_using_annotation.Employee4"/>  
        <mapping class="inheritance_mapping.tpc_using_annotation.Contract_Employee4"/>  
        <mapping class="inheritance_mapping.tpc_using_annotation.Regular_Employee4"/> 
        
        <!-- inheritance_mapping.table_per_subclass -->
        <mapping resource="inheritance_mapping/table_per_subclass/employee5.hbm.xml"/>
        
        <!-- inheritance_mapping.tps_using_annotation -->
        <mapping class="inheritance_mapping.tps_using_annotation.Employee6"/>  
		<mapping class="inheritance_mapping.tps_using_annotation.Contract_Employee6"/>  
		<mapping class="inheritance_mapping.tps_using_annotation.Regular_Employee6"/>
		
		<!-- hibernate_mapping.mapping_list -->
		<mapping resource="hibernate_mapping/mapping_list/question1.hbm.xml"/>  
		
		<!-- hibernate_mapping.mapping_bag -->
		<mapping resource="hibernate_mapping/mapping_bag/question2.hbm.xml"/> 
		
		<!-- hibernate_mapping.mapping_set -->
		<mapping resource="hibernate_mapping/mapping_set/question3.hbm.xml"/>
		
		<!-- hibernate_mapping.mapping_map -->
		<mapping resource="hibernate_mapping/mapping_map/question4.hbm.xml"/>
		
		<!-- hibernate_mapping.one_to_many_xml -->
		<mapping resource="hibernate_mapping/one_to_many_xml/question5.hbm.xml"/> 
		
		<!-- hibernate_mapping.one_to_many_annotation -->
		<mapping class="hibernate_mapping.one_to_many_annotation.Question6"/> 
		<mapping class="hibernate_mapping.one_to_many_annotation.Answer6"/> 
		
		<!-- hibernate_mapping.many_to_many_xml -->
		<mapping resource="hibernate_mapping/many_to_many_xml/question7.hbm.xml"/> 
		<mapping resource="hibernate_mapping/many_to_many_xml/answer7.hbm.xml"/>
		
		<!-- hibernate_mapping.many_to_many_annotation -->
		<mapping class="hibernate_mapping.many_to_many_annotation.Question8"/>    
    	<mapping class="hibernate_mapping.many_to_many_annotation.Answer8"/>
    	
    	<!-- hibernate_mapping.one_to_one_xml -->
    	<mapping resource="hibernate_mapping/one_to_one_xml/employee7.hbm.xml"/>  
    	<mapping resource="hibernate_mapping/one_to_one_xml/address7.hbm.xml"/>
    	
    	<!-- hibernate_mapping.one_to_one_annotation -->
    	<mapping class="hibernate_mapping.one_to_one_annotation.Employee8"/>  
    	<mapping class="hibernate_mapping.one_to_one_annotation.Address8"/>  

	</session-factory>

</hibernate-configuration>  